/* Estilo geral */
body {
    font-family: 'Oswald', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}


/* Estilos para a área principal */
main {
    margin-left: 26px;
    padding: 20px;
}

.welcome-message {
    margin-bottom: 20px;
    font-size: 24px;
    text-align: center; 
}

/* Responsividade */
@media (max-width: 768px) {
    nav.menu {
        width: 100%;
        left: -100%;
    }

    nav.menu.active {
        left: 0;
    }

    main {
        margin-left: 0;
    }
}

.navigation {
    text-align: center; 
}

/* Estilos para o container do botão */
.nav-btn-container {
    position: relative;
    display: inline-block;
}

/* Estilos do submenu */
.submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #6a1b9a;
    border-radius: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    z-index: 1000;
    opacity: 0;
    transform: translateY(-10px);
    transition: opacity 0.3s ease, transform 0.3s ease;
}

.nav-btn-container:hover .submenu {
    display: block;
    opacity: 1; 
    transform: translateY(0); 
}

.submenu a {
    display: block;
    padding: 10px 20px;
    color: white;
    text-decoration: none;
    white-space: nowrap;
    transition: background-color 0.3s, padding-left 0.3s;
}

.submenu a:hover {
    background-color: #4a148c;
}

/* Estilo da seta do submenu */
.arrow {
    margin-left: 5px;
    font-size: 12px;
    transition: transform 0.3s;
}

.nav-btn-container:hover .arrow {
    transform: rotate(180deg);
}

