body {
    font-family: 'Oswald', sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}


/* Estilos para botões */
.nav-btn {
    background-color: #6a1b9a;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
    margin-right: 10px;
    transition: background-color 0.3s;
}

.nav-btn:hover {
    background-color: #4a148c;
}

/* Estilos para botões */
.nav-btn {
    background-color: #6a1b9a; /* Cor roxa escura para os botões */
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
    margin-right: 10px;
    transition: background-color 0.3s;
}

.nav-btn:hover {
    background-color: #4a148c;
}
/* Estilos para o container do produto */
.produto-container {
    padding: 20px;
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s;
}

.produto-container:hover {
    transform: translateY(-5px);
}

.produto-container h1 {
    color: #6a1b9a;
    font-size: 28px;
    margin-bottom: 10px;
}

.produto-container img {
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.produto-container .info {
    margin-top: 15px;
    padding: 15px;
    background-color: #f0f0f0;
    border-radius: 5px;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
}

#adicionar-carrinho {
    background-color: #1abc9c;
    color: white;
    border: none;
    padding: 12px 25px;
    cursor: pointer;
    font-weight: bold;
    margin-top: 20px;
    border-radius: 5px;
    transition: background-color 0.3s, transform 0.2s;
    font-size: 16px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#adicionar-carrinho:hover {
    background-color: #16a085;
    transform: scale(1.05);
}

#tamanho-select {
    margin-top: 10px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
    width: 100%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    transition: border-color 0.3s;
}

#tamanho-select:focus {
    border-color: #6a1b9a;
    outline: none;
}